.socialMediaButton span img {
    width: 22px;
    height: 22px;
}

.socialMediaButton ul {
    padding: 0px;
}

.socialMediaButton li {
    list-style: none;
}

.rightColumn {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 100vh;
    background-color: transparent;
    /*  z-index: 1;*/
}

.rightColumnContent button {
    border: none;
    background-color: #2f2e2e;
    padding: 22px;
    cursor: pointer;
}

.columnCenter span {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 8vh;
}

.columnBottom img,
.columnTop img {
    width: 35px;
    height: 35px;
}

.columnTop span {
    color: white;
}

.logoHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: white;
    padding: 19px 10px;
    width: 100%;
}

.logoHeader ul {
    padding: 0px;
}

.logoHeader li {
    list-style: none;
}

.logoHeader a {
    text-decoration: none;
    color: #2e2f2f;
    font-weight: lighter;
}

.heroImg {
    background-image: url("../IMAGES/GirlLooksToSide.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logoContentRight {
    display: flex;
}

.logoContentRight button {
    cursor: pointer;
}

.logoContentLeft {
    display: flex;
    visibility: hidden;
    user-select: none;
}

.logoContentRight span,
.logoContentLeft span {
    display: flex;
}

.logoContent a h1 {
    font-size: 29px;
    font-family: "Spring";
}

.logoContentRight button,
.logoContentLeft button {
    background-color: transparent;
    margin: 0px 10px;
    border: none;
}

.headerButton span {
    align-items: center;
}

.headerButtonImg {
    padding: 0 10px;
}

.logoContent button img,
.logoContent button img {
    width: 21px;
    height: 21px;
}

/* --------------------------- Small menu --------------------------- */

#hamburgerMenu {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    background-color: white;
    overflow-y: hidden;
    transition: 0.5s;
}

.hamburgerMenu ul {
    padding: 85px 50px 50px 50px;
    list-style-type: none;
}

.hamburgerMenu ul li {
    padding: 15px;
}

.hamburgerMenu ul li a {
    color: #2f2e2e;
    text-decoration: none;
    font-size: 20px;
}

#closeNavbar {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

#closeNavbar span img {
    width: 40px;
    height: 40px;
}

.blur {
    filter: blur(5px);
    transition: 0.5s ease;
}

.hamContentSection {
    margin-top: 30px;
}