header {
    position: fixed;
    width: 100%;
    padding: 16px 50px;
    transition: 500ms;
    z-index: 1;
    background-color: white;
}

.navigation {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    transition: 500ms;
}

.logoHeader a {
    text-decoration: none;
    color: black;
    font-weight: lighter;
}

.navigation ul {
    display: flex;
    gap: 2rem;
}

.navigation li {
    list-style: none;
}

.navigation a {
    text-decoration: none;
    color: black;
}

.menuIcons {
    display: flex;
}

.menuIcon {
    padding: 20px;
}

.menuIcon span img {
    width: 21px;
    height: 21px;
}

.menuIcon ul {
    padding: 0px;
}

.menuIcon li {
    list-style: none;
}

.logo a h1 {
    font-size: 29px;
    font-family: "Singolare";
}


.heroImgContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    padding: 100px 150px;
}

.heroImgContainer img {
    width: 600px;
    height: 600px;
}