/*.rightColumn {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.columnCenter img {
    width: 30px;
    height: 28px;
}

.columnBottom img {
    width: 45px;
    height: 45px;
}*/

