@media screen and (max-width: 1025px) {
    .logoContentLeft {
        display: none;
    }

    .logoHeader {
        width: calc(100%-79px);
        padding-left: 0px;
    }
}

@media screen and (max-width: 768px) {
    main {
        width: calc(100%);
        margin: 0 79px 0 0;
    }

    .logoHeader {
        width: calc(100%);
        padding-left: 20px;
    }

    .logoContentRight {
        display: none;
    }

}

@media screen and (max-width: 768px) {
    
}