* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

main {
    width: calc(100%-79px);
    margin: 0 79px;
}

@font-face {
    font-family: "Singolare";
    src: url("../FONT/Fontspring-DEMO-singolarestencil-bold.otf");
}

@font-face {
    font-family: "";
    src: url("../");
}

@font-face {
    font-family: "";
    src: url("../");
}

@font-face {
    font-family: "";
    src: url("../");
}

@font-face {
    font-family: "";
    src: url("../");
}

@font-face {
    font-family: "";
    src: url("../");
}

@font-face {
    font-family: "";
    src: url("../");
}

@font-face {
    font-family: "";
    src: url("../");
}